go 1.19

use ./01_fundamentals

use ./02_tour_of_go

use ./03_simple_cli

use ./04_simple_web_server

use ./05_arrays_maps

use ./06_structs

use ./07_loops_and_branches

use ./08_deferred_functions

use ./09_panic_recover

use ./10_functions

use ./11_packages_comments

use ./12_polymorphism

use ./13_interfaces

use ./14_generics

use ./15_error_handling

use ./16_concurrency
